@import '~styles/colors';

.budget-transaction {
	min-height: 5rem;
	padding: 0.5rem 1.5rem;
	border-bottom: 1px solid #eee;

	&__mandatory-info {
		display: flex;
		flex-grow: 1;
	}

	&__info {
		align-items: center;
		display: flex;
		align-items: flex-start;
		flex-grow: 1;

		& .budget-transaction {
			&__user-info {
				width: 100%;
				display: inline-block;
				text-align: left;
			}
		}
	}
	
	&__amount {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 10rem;
		
		& span {
			width: 100%;
			display: inline-block;
			text-align: right;
		}
	}
	
	&__author {
		font-weight: bold;
	}
	&__author-contacts {
		font-size: smaller;
	}
	
	&__note {
		&--hidden {
			display: none;
		}
		&--padded {
			margin-top: 2rem;
		}
	}
	
	&--cancelled {
		.budget-transaction__info {
			& span {
				text-decoration: line-through;
			}
		}
		
		.budget-transaction__amount {
			& span {
				text-decoration: line-through;
			}
		}
	}
	
	&__icon-wrapper {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		width: 100%;
		margin-top: 0.5rem;
		
		&--hidden {
			display: none;
		}
		
	}
	
	&__paid-indicator {
		margin-left: 0.5rem;
		opacity: 0.75;
		font-size: smaller;
	}

	&__group {
		display: flex;
	}

	&__icon {
		align-items: center;
		display: flex;
		line-height: 0;
		margin-left: 0.25rem;
		font-size: 16px;
	}
}