{
  "plugins": [[ "@babel/plugin-proposal-decorators", { "legacy": true } ]],
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "64",
        },
        "exclude": ["@babel/plugin-transform-regenerator", "@babel/plugin-transform-async-to-generator"],
        "useBuiltIns": "entry"
      },
    ],
  ],
}
