{
  "env": {
    "browser": true
  },
	"extends": "airbnb",
	"globals": {
	},
	"settings": {
		"import/resolver": {
			"webpack": { "config": "config/webpack.config.js" }
		}
	},
  "rules": {
			"no-confusing-arrow": ["error", {"allowParens": true}],
			"react/prop-types": 0,
			"import/prefer-default-export": 0
  }
}
