version: 2
jobs:
  build:
    branches:
      only:
        - develop
        - master
    steps:
      - checkout
      - run: npm install
      - run: npm run deploy:prod
      - run:
          name: Run setup script
          command: bash .circleci/setup-heroku.sh
      - add_ssh_keys:
          fingerprints:
            - "ec:c1:80:a2:95:d2:64:43:8b:64:aa:8f:b3:5e:d1:97"
      - run:
          name: Deploy Master to Heroku
          command: |
            cd dist
            heroku login
            git init
            git remote add origin git@heroku.com:$HEROKU_APP_NAME.git
            git add .
            git commit -m "dist"
            git push
            git push --force origin master
    docker:
      - image: circleci/node:latest