version: 2
jobs:
  build:
    branches:
      only:
        - develop
        - master
    steps:
      - checkout
      - run: npm install
      - run: npm run deploy:dev
      - run:
          name: Run setup script
          command: bash .circleci/setup-heroku.sh
      - add_ssh_keys:
          fingerprints:
            - "ec:c1:80:a2:95:d2:64:43:8b:64:aa:8f:b3:5e:d1:97"
      - run:
          name: Deploy to Heroku
          command: |
            heroku login
            cd dist
            git init
            git config user.email $HEROKU_LOGIN
            git config user.name "Heroku"
            heroku git:remote -a purseapp
            git add ./*
            git add ./.htaccess
            git commit -m "dist"
            git push heroku master --force
    docker:
      - image: circleci/node:latest