deployment:
  staging:
    branch: develop
    heroku:
      appname: purse-front
jobs:
  build:
    branches:
      only:
        - develop
        - master
    steps:
      - checkout
      - run: npm install
      - run: npm run deploy:prod
      - delpoy
    docker:
      - image: circleci/node:latest