/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import './bootstrap.min'; // TODO: удалить зависимость

html, body {
	min-height: 1px;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
