.budget-details {
	flex-grow: 1;

	&__budget-users-transactions {
		display: flex;
		flex: 1;
	}

	&__budget-users {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	&__budget {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1;
	}
}
