@import '~styles/colors.scss';

.budget {
	flex-grow: 1;

	&__budget-transactions {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__budget {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1;
	}

	&__settings, &__share {
		font-size: 2.8rem;
		position: relative;
	}

	&__badge {
		position: absolute;
		top: 0.75rem;
		right: 0.5rem;
		font-size: 0.75rem;
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 50%;
		background-color: $negative;
		color: $black;
	}

	&__empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 6rem;
		color: #eee;
		height: 100%;
		margin: auto;
	
		& span {
			margin: 0 auto auto;
		}
	
		&-icon {
			margin: auto auto 0;
			font-size: 20rem;
		}
	}
}
