{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb"
    ],
    "rules": {
        "import/prefer-default-export": false,
        "react/prop-types": 0,
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ]
    }
}