@import '~styles/core';

.budget-list {
	width: 300px;
  max-width: 300px;
  
	&__list {
		overflow: auto;
    height: 100%;
    flex: 1;

    &--empty {
      display: flex;
    }
	}

	&__fab {
		background: green;
		width: 5rem;
		height: 5rem;
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		border-radius: 50%;
		border: none;
		font-size: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
    color:$black;

		&:hover, &:active, &:focus {
      color: $black;
      text-decoration: none;
		}
	}

	&__username {
		display: flex;
    align-items: center;
    justify-content: center;
		padding: 2rem 0 1rem;
	}

	&__version {
		padding: 0;
		font-size: 1rem;
		text-align: center;
	}

	&__name {
		margin-left: 1rem;
		font-weight: bold;
	}

	&__exit {
		font-size: 2rem;
		cursor: pointer;
	}
}
.core-layout {
	&__viewport {
		&--mobile {
			& .budget-list {
				width: 100%;
				max-width: 100%;
			}
		}
	}
}