@import '~styles/core.scss';

.header {
	height: 55px;
	color: $black;
	background: $primary;
	display: none;
	align-items: center;
	width: 100%;

	&__btn {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $black;
		font-size: 2.8rem;
		flex-shrink: 0;
	}

	&__title {
		font-size: 20px;
	}

	&__buttons {
		margin-left: auto;
	}
}

.core-layout {
	&__viewport {
		&--mobile {
			.header {
				display: flex;
			}
		}
	}
}