@import '~styles/core';

.budget-status {
	transform: translateY(0);
	transition: transform 0.3s ease, height 0s ease 0.3s;
	
	&--active {
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		height: 0;
	}

	&__buttons {
		display: flex;
	}
}