@import '~styles/core.scss';

.core-layout {
	&__viewport {   
		align-content: stretch;
		align-items: stretch;
		background: grey;
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		position: relative;
		width: 100%;
		transition: filter 0.3s ease;
		overflow: hidden;

		& .page {
			background: #fff;
			border-right: 1px solid #eee;
			flex-grow: 1;
			height: 100%;
			opacity: 1;
			transition: transform 0.4s ease-out;
			position: relative;
			display: flex;
			flex-direction: column;

			&--active {
				z-index: 2;

				~ .page {
					z-index: 1;
				}
			}

			&--next {
				z-index: 3;
			}
		}

		&--mobile {
			& .page {
				transform: translateX(0);
				position: absolute;
				width: 100%;

				&--active {
					~ .page {
						transform: translateX(-10%);
						opacity: 0.75;
					}
				}

				&--next {
					transform: translateX(100%);
				}
			}
		}

		&--offline {
			filter: grayscale(75%);
		}
	}
}
