@import '~styles/core.scss';

.core-layout {		
	display: flex;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 1;

	&__viewport {   
		align-content: stretch;
		align-items: stretch;
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		position: relative;
		width: 100%;
		transition: filter 0.3s ease;
		overflow: hidden;
		
		&--offline {
			filter: grayscale(75%);
		}

		& .page {
			background: #fff;
			border-right: 1px solid #eee;
			flex-grow: 1;
			height: 100%;
			transition: transform 0.4s ease-out;
			position: relative;
			display: flex;
			flex-direction: column;
			z-index: 1;

			&--active {
				z-index: 3;

				~ .page {
					z-index: 2;
				}
			}

			&--next {
				z-index: 4;
			}
		}

		&--mobile {
			& .page {
				transform: translateX(0);
				position: absolute;
				width: 100%;

				&--active {
					~ .page {
						transform: translateX(-10%);
					}
				}

				&--next {
					transform: translateX(100%);
				}
			}
		}
	}
}
