@import '~styles/colors';
@import '~react-simple-dropdown/styles/Dropdown';

.budget-list-item {
	display: flex;
	flex-direction: row;
	overflow: visible;
	border-bottom: 1px solid #eee;
	position: relative;

	&--active {
		background: #eee;
	}

	&:active, &:focus, &:hover {
		color: #333;
		text-decoration: none;
	}

	&__badge {
		align-self: center;
		align-items: center;
		background-color: #aaa;
		border-radius: 50%;
		display: flex;
		flex-basis: 3rem;
		flex-shrink: 0;
		height: 3rem;
		margin: 0 2rem;
		width: 3rem;

		&--green {
			background-color: $secondary;
		}

		&--closed {
			background: #ddd;
			font-size: 1.8rem;
		}
	}

	&__badge-text {
		width: 100%;
		text-align: center;
	}

	&__wrapper {
		align-items: flex-start;
		color: #333;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 0.5rem 0;
		transition: background 0.1s ease;

		&:active, &:focus, &:hover {
			color: #333;
			text-decoration: none;
		}
	}

	&__date {
    color: #999;
	}

	&__title {
		margin: 0.5rem 0;
  }
  
  &__subtitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__sum {
    font-size: 1.7rem;
		margin-bottom: 0.5rem;
  }

  &__people {
    color: #999;
  }

	&__menu {
		align-self: center;
		width: 3.5rem;
		padding: 1rem;
    cursor: pointer;
    z-index: 100;
    position: absolute;

		&-trigger {
			color: $black;
		}

		&-item {
			cursor: pointer;
		}

		& .dropdown__content {
			position: absolute;
			right: 0;
			border: 1px solid #eee;
			padding: 5px 15px;
			border-radius: 3px;
			background: $white;
		}
	}
}