@import '~styles/core.scss';

.login {
    width: 50%;
    max-width: 50%;
    margin: auto;
    border: none !important;

    &__heading {
        padding: 2rem;
        text-align: justify;
    }

    &__buttons {
        display: flex;
    }

    &__title {
        padding-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }

    &__input {
        display: flex;
        padding: 1rem 0;
    }

    &__country-code {
        margin-right: 0.5rem;
        width: auto;
    }

    &__phone {
        flex-grow: 1;
    }

    & .tabs {
      &__tab-content {
        padding: 2rem;
      }
    }

    &__version {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}

.core-layout {
	&__viewport {
		&--mobile {
			& .login {
				width: 100%;
				max-width: 100%;

				&.page--active {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}
}
